.imgCarrossel{
    max-width: 200px;
    max-height: 200px;
}
/* 
.linhaCarrossel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
} */

.box {
    border: solid 1px rgba(161, 161, 161, 0.233);
    margin-left: 25%;
    margin-top: 10px;
    margin-right: 25%;
    padding: 20px;
  }
  
  .title {
    margin-top: 30px;
  }
  
  .space {
    padding: 2px;
    width: 221px;
  }
  
  label {
    margin-bottom: 0;
  }
  
  .ant-form-item {
    margin-bottom: 0;
  }
  
  .space_2 {
    padding: 2px;
    width: 444px;
  }