.DS_Store
/node_modules/
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
/config/env.js*
config/env.js*
env.js*


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
controllers/autenticacao.controllers.js