.box {
    border: solid 1px rgba(161, 161, 161, 0.233);
    margin-left: 25%;
    margin-top: 10px;
    margin-right: 25%;
    padding: 20px;
}
.Center{
    text-align: center;
}
.line{
    border-style: none none solid none;
    border-width: 1px;
    border-color: rgba(161, 161, 161, 0.233);
}